@page "{id}"
@using FredsWorkmate.Database.Models
@using FredsWorkmate.Util.HtmlHelperExtensions
@model CompanyInformationEdit
@{
    ViewData["Title"] = "Edit CompanyInformation";
    Html.EntityEditor<CompanyInformation>(Model.Entity);
}
<div>
    <a asp-page="./Index">Back to List</a>
</div>