@page "{id}"
@using FredsWorkmate.Database.Models
@using FredsWorkmate.Util
@model AddressEdit
@{
    ViewData["Title"] = "Edit Address";
    Html.EntityEditor<Address>(Model.Entity);
}
<div>
    <a asp-page="./Index">Back to List</a>
</div>