/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body main {
    grid-column: 2;
    overflow-y: scroll;
}

body nav {
    grid-column: 1;
    background-color: #d5d5d5;
}

ul.nav {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    list-style-type: none;
}

    ul.nav li {
        padding: 5px 10px;
    }

table {
    border: 1px solid black;
    border-collapse: collapse;
}

    table td, th {
        border: 1px solid black;
    }

body footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
