<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FredsWorkmate</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FredsWorkmate.styles.css" asp-append-version="true" />
</head>
<body>
    <nav>
        <a class="home-link" asp-page="/Index">ↈ FredsWorkmate</a>
        <div>
            <ul>
                <li>
                    <a asp-page="/Address/Index">Addresses</a>
                </li>
                <li>
                    <a asp-page="/BankInformation/Index">Bank Informations</a>
                </li>
                <li>
                    <a asp-page="/CompanyInformation/Index">Company Informations</a>
                </li>
                <li>
                    <a asp-page="/Customer/Index">Customers</a>
                </li>
                <li>
                    <a asp-page="/Project/Index">Projects</a>
                </li>
                <li>
                    <a asp-page="/TrackedTime/Index">Tracked Time</a>
                </li>
                <li>
                    <a asp-page="/Note/Index">Notes</a>
                </li>
                <li>
                    <a asp-page="/Invoice/Index">Invoices</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        @RenderBody()
    </main>
    <footer>
            &copy; 2024 - FredsWorkmate
    </footer>
    <!--
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>