@page
@using FredsWorkmate.Database.Models
@model FredsWorkmate.Pages.CustomersModel
@{
    ViewData["Title"] = "Customers";
}
<form asp-page-handler="Add" method="post">
    New Customer<br />
    Name: <input type="text" name="name" placeholder="name" /><br />
    Email: <input type="text" name="email" placeholder="email" /><br />
    Address: <textarea name="address"></textarea><br />
    <input type="submit" value="Create New Customer" />
</form>
<table>
    <tr>
        <th>Id</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Name</th>
        <th>Email</th>
        <th>Adress</th>
        <th></th>
    </tr>
    @foreach (var item in Model.databaseContext.Customers)
    {
        @Html.DisplayFor(_ => item, "CustomerInTable")
    }
    
</table>