@page "{id}"
@using FredsWorkmate.Database.Models
@using FredsWorkmate.Util.HtmlHelperExtensions
@model BankInformationEdit
@{
    ViewData["Title"] = "Edit BankInformation";
    Html.EntityEditor<BankInformation>(Model.Entity);
}
<div>
    <a asp-page="./Index">Back to List</a>
</div>