@page "{id}"
@using FredsWorkmate.Database.Models
@using FredsWorkmate.Util.HtmlHelperExtensions
@using FredsWorkmate.Util
@model InvoiceDetails
@{
    ViewData["Title"] = "Details Of Invoice";
    Html.EntityDetails<Invoice>(Model.Entity);
    <h3>Positions:</h3>
    Html.EntityTable<InvoicePosition>(Model.db.InvoicePositions.Where(x => x.Invoice == Model.Entity));
    Html.DetailsNavigation(Model.Entity.Id);
    <a href="../Pdf/@(Model.Entity.Id)/@{
if(Model.Entity.Currency == CurrencyCode.EUR){
WriteLiteral("de");
}else{
WriteLiteral("en");
}}">PDF</a>
}