@page "{id}"
@using FredsWorkmate.Database.Models
@using FredsWorkmate.Util
@model TrackedTimeDetails
@{
    ViewData["Title"] = "Details Of TrackedTime";
    Html.EntityDetails<TrackedTime>(Model.Entity);
}
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Entity.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>